{% include 'header.html' %}
 
    <section id="snippet-3" class="wrapper bg-light wrapper-border">
      <div class="container pt-5 pb-13">

        <h2 class="display-4 mb-3 text-center">Buscaminas Cheems</h2>
        <p class="lead text-center mb-10 px-md-16 px-lg-0">Destapa cada una de las cartas evitando toparte con el Cheems malvado o perderás.</p>
        <div class="reset-container">
          <button id="btn-reset" class="btn btn-secondary">Reiniciar</button>
        </div>

        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 gx-lg-6 gy-6 justify-content-center">
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="1"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="2"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="3"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="4"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="5"/>
                </div>
              </div>
            </div>
        </div>


        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 gx-lg-6 gy-6 justify-content-center pt-5">
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="6"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="7"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="8"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="9"/>
                </div>
              </div>
            </div> 
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="10"/>
                </div>
              </div>
            </div>
        </div>

        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 gx-lg-6 gy-6 justify-content-center pt-5">
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="11"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="12"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="13"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="14"/>
                </div>
              </div>
            </div> 
            <div class="col">
              <div class="cheems-card card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 p-0">
                  <img src="{{ url_for('static', filename='img/cheems_question.png') }}" alt="" data--id="15"/>
                </div>
              </div>
            </div>
        </div>
 
      </div>
    </section>
  </div>
 
    <div class="modal fade" id="modal-winner" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content text-center">
        <div class="modal-body">
          <h2 class="mb-3 text-start">¡Ganaste!</h2>
          <p class="lead mb-6 text-start">Registra tus datos para inscribirte en la lista de ganadores</p>
          <!--<form class="text-start mb-3">-->
            <div class="form-floating mb-4">
              <input type="text" class="form-control" placeholder="name" id="name">
              <label>Nombre</label>
            </div>
            <div class="form-floating mb-4">
              <input type="email" class="form-control" placeholder="email" id="email">
              <label>Correo</label>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control" placeholder="phrase" id="phrase">
              <label>Frase</label>
            </div>
            <a class="btn btn-primary rounded-pill btn-login w-100 mb-2" id="btn-save">Guardar</a>
          <!--</form>-->
        </div> 
      </div> 
    </div> 
  </div>

  {% include 'footer.html' %}