{% include 'header.html' %}


    <section id="snippet-3" class="wrapper bg-light wrapper-border">
      <div class="container pt-5 pb-13">

        <h2 class="display-4 mb-3 text-center">Buscaminas Cheems</h2>
        <p class="lead text-center mb-10 px-md-16 px-lg-0">Lista de ganadores</p>

        <table id="winners-table" class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Frase</th>
                    <td>Intentos</td>
                    <td>Fecha y Hora</td>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for w in winners %}
                <tr>
                    <td>{{ w.name }}</td>
                    <td>{{ w.email }}</td>
                    <td>{{ w.phrase }}</td>
                    <td>
                        {# Intentos #}
                    </td>
                    <td>
                        {# Fecha/Hora #}
                    </td>
                    <td>
                         <form action="{{ url_for('delete_winner', id=w.id) }}"
                        method="post"
                        onsubmit="return confirm('¿Seguro que quieres eliminar este registro?');">
                      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                  </form> 
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">No hay registros.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
 
      </div>
    </section>

{% include 'footer.html' %}